<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matejdro.pebblekeep">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".PebbleKeepApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".pebble.KeepTalkerService" />

        <receiver android:name=".pebble.WatchappHandler">
            <intent-filter>
                <action android:name="com.matejdro.pebblekeep.UPDATE_WATCHAPP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.matejdro.pebblekeep.UPDATE_PHONE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>